#logo{
    display: grid;
    place-items: center;
}

nav{
    background-color: gray;
}

label{
    font-family: Gigi;
    font-size: 32pt;
    border-style: double;
    border-color: #e4685d;
    border-width: medium;
}